@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois&family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Colors */
:root {
  --main-color: #feb337;
  --text-color: #ffffff;
  --text-color-2: #000000;
  --header-bg-color: rgba(24, 24, 19, 0.7);
  --productFooter-bg-color: linear-gradient(
    0deg,
    #181813 0%,
    rgba(24, 24, 19, 0) 174.29%
  );
}

/* Utils */
button {
  border: none;
  outline: none;
  color: var(--text-color);
}

a {
  text-decoration: none !important;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}

figure {
  margin: 0 !important;
}

.container {
  width: 50% !important;
  margin: auto;
}

/* Top Part */
.top-part {
  background: url("../images/banner.png");
  background-size: cover;
  background-position: center bottom;
  height: 70vh;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  background: var(--header-bg-color);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 25px;
  color: var(--text-color);
}

.navbar button {
  font-size: 25px;
  background-color: transparent;
}

/* Item List Btn */
.item-list-btn::after {
  content: attr(data-count);
  position: absolute;
  top: 0;
  width: 22px;
  height: 22px;
  font-size: 15px;
  background-color: var(--main-color);
  border-radius: 5px;
}

/* Hero */
.hero {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.hero span {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.hero p {
  font-size: 17px;
}

.hero a {
  background-color: var(--main-color);
  padding: 13px 40px;
  border-radius: 30px;
  color: var(--text-color-2);
  font-weight: 600;
  font-size: 15px;
}

.title {
  text-align: center;
  margin: 20px 0;
}

/* Product List */
.product-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* Product */
.product {
  height: 300px;
  width: 280px;
  border: 4px solid transparent;
  border-radius: 0.875rem;
  position: relative;
  transition: all 0.5s ease;
}

.product:hover {
  border-color: var(--main-color);
}

.product-img {
  height: 100%;
  width: 100%;
}

.product-img img {
  border-radius: 0.625rem;
}

.product:hover .product-footer {
  opacity: 1;
}

.product-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: var(--text-color);
  background: var(--productFooter-bg-color);
  border-radius: 0 0 0.875rem 0.875rem;
  opacity: 0;
  transition: all 0.5s ease;
}

.product-add-btn {
  background-color: var(--main-color);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 20px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.card-list {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.card-list .card {
  border: none;
  border-top: 1px solid lightgray;
  border-radius: 0;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.card-img {
  height: 100px;
  width: 80px !important;
}

.card-left {
  display: flex;
  gap: 20px;
}

.card-left div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-price {
  font-weight: 600;
}

.card-right {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

.amount-box {
  border: 1px solid lightgray;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.amount-box button {
  background: transparent;
  font-size: 17px;
  color: var(--text-color-2);
}

.card-delete-btn {
  background-color: red;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 19px;
}

.total {
  border-top: 1px solid lightgray;
  padding: 20px;
  width: 100%;
}

.total div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total h6 {
  font-weight: 600;
}

.clear-btn {
  margin-top: 20px;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  background-color: var(--main-color);
  color: var(--text-color);
  font-weight: 600;
}
